#Header {
    width: 100%;
    height: 400px;
}

#top {
    height: 150px;
    background-color: mintcream;
}

#icon {
    display: inline-block;
    position: relative;
    top: 40px;
    left: 20%;
    height: 30px;
    width: 30px;
    background-color: darkgrey;
    color: white;
}

#ict {
    position: relative;

    left: 20%;
    font-size: x-large;
    font-weight: bold;
}

.disp {
    color: darkgrey;
    position: relative;
    left: 23%;
    top: 15px;
    font-size: large;
}

#line {
    color: darkgrey;
    width: 80%;
}

h5 {
    position: relative;
    left: 18%;
    display: inline-block;
    font-weight: bold;
    color: darkgrey;
    margin: 15px;
    top: -20px;
    cursor: pointer;
}

h5:hover {
    color: lightgreen;
}

#contact {
    background-color: lightgreen;
    height: 100px;

}
#check{
    color: white;
    position: relative;
    left: 20%;
    display: inline-block;
    top:10%
}
.myform{
    position: relative;
    left:60%;
    top:-40px;
}