body{
    height: 5000px;
    margin: 0px;
    width:100%;
}
.header{
    height: 10%;
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 100;
}
.home{
    background-image: url("images/Home.png");
    width: 100%;
    height: 600px;
    left: 0px;
    background-size: cover;

}
.menu_elements{
    display: inline-block;
    position: relative;
    left: 40%;
    top: 25%;
    margin: 10px;
    font-family: 'Raleway', light;
    cursor: pointer;
}
.menu_elements:hover{
    color:#00e1ff;
}
.logo{
    background-image: url("images/Logo.png");
    display: inline-block;
    position: relative;
    left:10%;
    top:25%;
    height: 30%;
    width: 6%;
    background-size:cover ;
}
.home_btn{
    display: inline-block;
    position: relative;
    width: 20%;
    top: 60%;
    left: 35%;
    border: thin solid white;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.flex{
    display: flex;
    font-family: 'Raleway', light;
    flex: 1 1 0;
}
.label_home{
    color: white;
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 50px;
    left: 28%;
    top: 45%;
}
.home_btn:hover{
    background-color: #ffc455;
    opacity: 0.5;

}
.services{
    background-color: white;
    height: 400px;
    width: 100%;
    background-size: cover;

    text-align: center;
}
.services:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.icon_srv{
    margin: 3%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20%;
    width: 5%;
}
.f_s{
    background-image: url("images/srvbtn1.png");
}
.s_s{
    background-image: url("images/srvbtn2.png");
}
.t_s{
    background-image: url("images/srvbtn3.png");
}
.fth_s{
    background-image: url("images/srvbtn4.png");
}
.txt_srv{
    margin: auto;
    width: 70%;
    height: 40%;
    position: relative;
    top: -50%;
}
.services2{
    height: 800px;
    width: 100%;
    background-color:#f7f7f7 ;
}
.btn_srv{
    display: inline-block;
    position: relative;
    height: 5%;
    width: 40%;
    top:10%;
    text-align: center;
    left: 15%;
    font-family:"Railway", sans-serif;
    border:thin solid #c8cdce;
    font-size: small;
    float: left;
}
.btn_srv:hover{
    border-color:#00e1ff ;
}
.btn_srv:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.phones{
    position: relative;
    background-image: url("images/Phones.png");
    background-repeat: no-repeat;
    height:60%;
    width: 40%;
    top:20%;
    left: 17%;
    background-size: contain;
}
.srv_text{
    position: relative;
    font-family: "Raleway", sans-serif;
    height: 11%;
    width:30%;
    top:-35%;
    left: 60%;
    font-size: 150%;
    color: #707274;
}
.sml{
    font-size: 100%;
}
.btn_get{
    top: -25%;
    left: 60%;
    color: black;
    border-color: #c8cdce;

}
.portfolio{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
.portf_text{
    font-family: "Raleway", sans-serif;
    color: #3f4244;
    font-size: 170%;
    width: 60%;
    text-align: center;
}

.p_txt{
    font-size: 15px;
    color: #99a2a6;
}
.p_btn{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 60%;
    padding: 3%;
    cursor: pointer;
}
.p_btn:hover{
    border: thin solid #00e1ff;
}
.photos{
    height: 400px;


}
.photo {
    display:inline-block;
    height: 50%;
    width: 16.6%;
    float: left;
    background-size: cover;
    z-index: 2;





}
.overlay{
   height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url('images/Hover.png');
    background-size: cover;
    visibility: hidden;


}
.counter{
    align-items: center;
    justify-content: center;
    display:flex;
    background-color: black;
    height: 300px;
}
.stat{
    background-size: 100% 100%;
    height:40%;
    width: 40px;
    left:38%;
    position: relative;
}
.icon1{
    background-image: url("images/stat_icon1.png");
}
.icon2{
    background-image: url("images/stat_icon2.png");
}
.icon3{
    background-image: url("images/stat_icon3.png");
}
.icon4{
    background-image: url("images/stat_icon4.png");



}
.under{
    font-size: 50%;
}
.lab{

    justify-content: center;
    display:flex;
    color: white
}
.group{
    font-family: "Raleway", sans-serif;
    font-size: 130%;
    height: 40%;
    margin: 3%;
}
.about{
    height: 1500px;


}
.about_txt{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
}
.about_man{
    justify-content: center;
    display: flex;
    height: 20%;
    top: 10%;
    position: relative;

}
.man_block{
    width:15%;
    background-color: #f7f7f7;
    margin: 0.5%;
}

.image_man{

    background-size: 100% 100%;
    background-image: url("images/man1.jpg");
    height: 60%;

}
.man_2{
    background-image: url("images/man4.jpg");
}
.middle{
    opacity: 0.5;
    justify-content: center;
    display: flex;
    font-family: "Reilway", sans-serif;
    color: #3f4244;
    font-size: 15px;
    text-align: center;
}
.social{
    position: relative;
    left:10%;
    display: inline-block;
    width: 18%;
    height:10%;
    background-size: contain;

    background-repeat: no-repeat;
       
}
.icon{
    position: relative;

    width: 100%;
    height: 100%;
    left: 30%;
}
#icon1{
    background: no-repeat url("images/Shape2.png");
}
#icon1:hover{
    background-color: #36609e;
}
#icon2{
    background: no-repeat url("images/Shape3.png");
}
#icon2:hover{
    background-color: #2ca9e1;
}
#icon3{
    background: no-repeat url("images/Shape4.png");
}
#icon3:hover{
    background-color: #db5442;
}
#icon4{
    background: no-repeat url("images/Shape5.png");
 }
#icon4:hover{
    background-color: #ee558e;
}
.news_t{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
    }
.news_bl{
    height: 70%;
    position: relative;
    top: 15%;
}
.item_news{
    margin: auto;
    width: 60%;
    height: 20%;
}
.date_news{
    float:left;
    width: 10%;
    height: 100%;
}
.big_numb{
    font-family: 'Raleway', sans-serif;
    font-size: 400%;
    color: #00e1ff;
}
.data{
    position: relative;
    float: right;
    width: 85%;
    top:20%;
}
.more{
    float: right;
    position: relative;
    top: 30%;
    color: #00e1ff;
}
#hr{
    position: relative;
    top:5%;
    color: #edf2f6;
   width: 87%;
    float: right;
}
.conact{
     position: relative;
    top: 20%;
    height: 700px;
    background-color: black;

}
.white{
    color: white;
    margin: auto;
    top: 10%;
    position: relative;
    text-align: center;

}
.cont_txt{
    width: 60%;
    margin: auto;
    text-align: center;
}
.inp_form{
    position: relative;
    display: block;
    margin: auto;
    top: 10%;
    width: 60%;
    height: 150px;
}
.input{

    display: inline-block;
    position: relative;
    top: 20%;
    left: 30%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: black;
    outline: none;
    height: 15%;
    width: 20%;
    color: white;
    font-size: ;
    font-family: "Raleway", sans-serif;
}
.input_1{
    position: relative;

    display: block;
    width: 41%;
}
.btn_send{
    border-color: #00e1ff;
    position: relative;
    display: flex;
    font-family: 'Raleway', light;
    left: 51%;
}
.footer{
    background-color: #252726;
    height: 7%;
    position: relative;
    top: 20%;

}
.txt_footer{
    width: 17%;
    margin: auto;
}
.footer_btn{
    border: thin solid #00e1ff;
    margin: 3%;
    width: 10%;
    display: flex;
    color: white;
    font-family: 'Raleway', light;
    left: 60%;
    position: relative;
    justify-content: center;
    cursor: pointer;
}
form .ng-valid.ng-dirty {
    background-color: lightgreen;
    opacity: 0.8;
}

form .ng-invalid.ng-dirty {
    background-color: lightcoral;
    opacity: 0.8;
}
