<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
.left{
    position: relative;
    left: -20%;

}
        .inline-inf{

            display: inline-block;
        }
        .img#info {
            height: 50%;
            width: 50%;

        }
    </style>
    <link href="../css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
<body>
<div id="Header">
    <div id="top" class="center-block">
        <div id="icon"><div class="center-block " id="ict" >D</div> </div><p class="disp">DISPLAY</p>
        <hr id="line" />
        <h5 id="home">HOME</h5>
        <h5 id="contactbtn">CONTACT</h5>
    </div>
    <div id="contact">
        <h2 id="check">CHECK OUT OUR WORK</h2>

    </div>
</div>

<h1>Some more information about this project!</h1>
<table class="table ">

    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>DATE</th>
    </tr>
    </thead>
    <tbody>

    <%- data %>

    </tbody>

</table>
<div class="inline-inf" id="inf"><%- photo %></div>

<button class="btn btn-success left">Go back</button>
<div id="Footer">
    <div id="bl"> <h4 id="footer_text">ARE YOU IMPRESSED BY OUR CREATIVITY? </h4><input type="button" value="CONTACT US RIGHT NOW" id="footer_contact"> </div>

</div>
<div id="copyright"><div id="copyr">COPYRIGHT 2013 DISPLAY. ALL RIGHTS RESERVED</div> </div>


<script>
    document.getElementById('contactbtn').onclick = function () {
        window.location.pathname = '/contact'
        console.log('successfully redirected to contact');
    }
    document.getElementById('home').onclick = function () {
        window.location.pathname = '/home'
        console.log('successfully redirected to home');
    }
    var btn =document.getElementsByClassName('btn')[0]
    btn.onclick= function () {
        window.location.pathname = '';
    }
</script>
</body>
</html>