@media (min-width:1200px){
	body{
	width: 1200px;
	height: 5500px;
	
	margin: 0px;
	overflow: scroll;
}

.menu{
	position:fixed;
	width:1200px;
	height:10% ;;
	background-image: url("image/menu.png");
	background-size: 100% 110%;
	opacity: 0.8;
	z-index: 100;
}
.slider{
	height:720px;
	width: 100%;
	
	background-size: cover;
}
.slidebtns{
	height: 100px;
	width: 100%;
	top:250px;
	position: relative;
	background-color: #989692;
	opacity: 0.5;

}
.buy{
	position: relative;
	background-image: url("image/buy.png");
	background-size: contain;
	background-repeat: no-repeat;
	top:25px;
	width:17.5%;
	height: 34.5px;
	display: inline-block;
	left:33%;
	

}
.btn1{
	position:relative;
	height: 50px;
	width: 50px;
	background-image: url("image/next.png"); 
	background-size: cover;
	top: 25px;
	left: 70%;
	display: inline-block;
	cursor: pointer;
}
.btn2{
	position:relative;
	height: 50px;
	width: 50px;
	background-image: url("image/back.png"); 
	background-size: cover;
	top: 25px;
	left: 20%;
	display: inline-block;
	cursor: pointer;
}
.srv_icon{
	position: relative;
	height: 75px;
	width: 75px;
	top:52%;
	left:25.5%;
	display: inline-block;
	
}
#webDesign{
	background-image: url("image/srv1.png");
	background-size: cover;
}
#grDesign{
	background-image: url("image/srv2.png");
	background-size: cover;
	left: 35.7%;
}
#photogr{
	background-image: url("image/srv3.png");
	background-size: cover;
	left: 46.5%;
}
#develop{
	background-image: url("image/srv4.png");
	background-size: cover;
	left: 56.5%;
}
.menu_btn{
	position: relative;
	height: 100%;
	left: 53%;
	display: inline-block;
	cursor: pointer;
}
#home{
	width: 3.5%;
}
#srv{
	width: 5%;
}
#work{
	width: 4%;
}
#about{
	width: 4.5%;
}
#clients{
	width: 5%;
}
#contact{
	width: 4%;
}
.services{
	height: 400px;
	background-image: url("image/services.png");
	background-size: cover;
}
.services_2{
	height: 300px;
	background-image: url("image/services_2.png");
	background-size: cover;
}
.works{
	height:200px;
	background-image: url("image/work.png");
	background-size: contain;

}
.wrk_img{
	height: 400px;
	background-image: url("image/wrk_img.png");
	background-size: cover;
}
.like{
	height: 300px;
	background-image:url("image/like.png");
	background-size:contain;
}
.btn_like{
	position: relative;
	top: 70%;
	left: 48%;
	height: 12%;
	width: 9%;
	cursor: pointer;

}
.numbers{
	height: 250px;
	background-image: url("image/numbers.png");
	background-size: contain;
}
.about{
	height: 500px;
	background-image: url("image/about.png");
	background-size: contain;
}
.team{
	height: 1000px;
	background-image: url("image/team.png");
	background-size: contain;
}
.clients{
	height: 350px;
	background-image: url("image/clients.png");
	background-size: contain;
}
.otz{
	height: 200px;
	background-image: url("image/otz.png");
	background-size: contain;
}
.contacts{
	height: 350px;
	background-image: url("image/contacts.png");
	background-size: contain;
}
.massage{
	height: 400px;
	background-image: url("image/massage.png");
	background-size: contain;
}
.footer{
	height: 125px;
	background-image: url("image/footer.png");
	background-size: contain;
}
}