
<!--###Задача 1
Разработайте сервис, которой можно будет использовать для кэширования данных. В кэш можно поместить запись и установить время удаления этой записи. Продемонстрируйте работу сервиса.
--><!doctype html>
<html lang="en" ng-app = "App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet">
    <style>
        input{
            display: block;
            margin: 10px;
        }
    </style>
    <script>
        var app = angular.module('App', []);
        app.factory('cacheServe', ['$cacheFactory', '$timeout', function ($cacheFactory, $timeout) {
            var cache = $cacheFactory('cacheInst');
            var keys = [];
            return {
                create: function (id, value, exp) {
                    if (angular.isUndefined(id) || angular.isUndefined(value)) {
                        alert('Please, enter all data');
                        return false;
                    }
                    var existCache = cache.get(id);
                    cache.put(id, value);
                    keys.push(id);
                    if (angular.isDefined(existCache)) {
                        alert('Cache data with id = ' + id + 'already exist;');
                    }
                    else {
                        alert('Created new cache data with: id = ' + id + '; value = ' + value + ';');
                    }
                    if (angular.isDefined(exp)) {
                        var expTime = parseInt(exp);
                        if (isNaN(expTime)) {
                            alert('Enter valid time!!!')
                        }
                        else {
                            $timeout(function () {
                                cache.remove(id);
                                delete keys[keys.indexOf(id)];
                            }, expTime);
                        }
                    }
                    return true;
                },
                remove: function (id) {
                    if (angular.isUndefined(id)) {
                        alert('Error: not all required data set');
                        return false;
                    }
                    if (angular.isUndefined(cache.get(id))) {
                        alert('No cache data with id = ' + id + '.');
                        return false;
                    }
                    cache.remove(id);
                    delete keys[keys.indexOf(id)];
                    return true;
                },
                get: function (id) {
                    return cache.get(id);
                },
                getAll: function () {
                    var cacheData = {};
                    keys.forEach(function (key) {
                        cacheData[key] = cache.get(key);
                    });
                    return cacheData;
                }
            }
        }]);
        app.controller('mainCtrl', ['$scope', 'cacheServe', function($scope, cacheServe) {
            $scope.cacheData = cacheServe.getAll();
            $scope.createCache = function () {
                cacheServe.create($scope.cacheId, $scope.cacheValue, $scope.cacheTime);
                $scope.cacheData = cacheServe.getAll();
            };
            $scope.removeCache = function () {
                cacheServe.remove($scope.rmCacheId);
                $scope.cacheData = cacheServe.getAll();
            };
            $scope.refreshCache = function () {
                $scope.cacheData = cacheServe.getAll();
            };
        }]);

    </script>
</head>
<div>
    <h3>Cache list:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr ng-repeat="(id, value) in cacheData">
            <td>{{id}}</td>
            <td>{{value}}</td>
        </tr>
    </table>

</div>
<body ng-controller="mainCtrl">
<label class="label label-default">Enter ID:</label>
<input type="text" class="input" ng-model="cacheId">
<label class="label label-default">Enter Cach Value:</label>
<input type="text" class="input " ng-model="cacheValue">
<label class="label label-default">Enter Cach Time(ms):</label>
<input type="text" class="input " ng-model="cacheTime">
<button ng-click="createCache()">CREATE CACHE</button>
<div>
    <h3>Remove cache:</h3>
    <label>ID: </label>
    <input type="text" ng-model="rmCacheId"><br>
    <input type="button" value="Remove Cache" ng-click="removeCache()">
</div>


</body>
</html>