
<!--###Задача 1
Разработайте сервис, которой можно будет использовать для кэширования данных. В кэш можно поместить запись и установить время удаления этой записи. Продемонстрируйте работу сервиса.
--><!doctype html>
<html lang="en" ng-app = "App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet">
    <style>
        input{
            display: block;
            margin: 10px;
        }
    </style>
    <script>
        angular.module("App", [])
                .factory("cacheSrv",['$cacheFactory', '$timeout', function ($cacheFactory, $timeout) {
                    var allCache = [];

                    var cache = $cacheFactory("cacheId");
                    return{
                        createCache:function (id, value, time) {
                            if (angular.isUndefined(id) || angular.isUndefined(value)|| angular.isUndefined(time)) {
                                alert('Error, please use all input places');
                                return false;
                            }
                            cache.put(id,value)
                            alert('Cach created. Id: '+id+'. Value: '+ value);
                            $timeout(function () {
                                cache.remove(id);
                            }, time);
                            return true;



                        }

                    }

                    
                }])
                .controller("ctrl",['$scope', "cacheSrv", function ($scope, cacheSrv) {
                    $scope.createCach = function () {
                        cacheSrv.createCache($scope.cacheId, $scope.cacheValue, $scope.cacheTime);
                    }


                }])
    </script>
</head>
<body ng-controller="ctrl">
<label class="label label-default">Enter ID:</label>
<input type="text" class="input" ng-model="cacheId">
<label class="label label-default">Enter Cach Value:</label>
<input type="text" class="input " ng-model="cacheValue">
<label class="label label-default">Enter Cach Time(ms):</label>
<input type="text" class="input " ng-model="cacheTime">
<button ng-click="createCach()">CREATE CACHE</button>


</body>
</html>