<!doctype html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet">
    <script>
        angular.module("App",[])/*###Задача 3
         Разработайте приложение-секундомер. На странице должно быть 3 кнопки:
         * start – начать отсчет
         * stop – остановить отсчет
         * clear – сброс отсчета
         */
                .controller("mainCtrl", function ($scope, $interval) {
                    var timer
                    $scope.hours = 0;
                    $scope.min=0;
                    $scope.sec = 0;
                    $scope.ms = 0;

                    $scope.start = function () {
                        timer = $interval(function () {
                          $scope.ms+= 1;
                            if($scope.ms>1000){
                                $scope.ms=0;
                                $scope.sec+=1;

                            }
                            if($scope.sec>=60){
                                $scope.sec = 0;
                                $scope.min+=1;

                            }
                            if($scope.min>=60){
                                $scope.min=0;
                                $scope.hours+=1;
                            }
                        },1);


                    }
                    $scope.stop = function () {
                        $interval.cancel(timer)

                    }
                    $scope.clear = function () {
                        $scope.hours = 0;
                        $scope.min=0;
                        $scope.sec = 0;
                        $scope.ms = 0;
                    }

                })
    </script>
</head>
<body ng-controller="mainCtrl">
<button class="btn btn-primary" ng-click = "start()">Start</button>
<button class="btn btn-warning" ng-click="stop()">Stop</button>
<button class="btn btn-danger" ng-click="clear()">Clear</button>
<div><h1>Timer: {{hours}}:{{min}}:{{sec}}:{{ms}}sec</h1></div>


</body>
</html>